01 - Crie um programa que conte de zero at√© cinco

In [1]:
x = 0 
while (x<=5):
    print(x)
    x += 1

0
1
2
3
4
5

 02 - Crie uma lista com cinco nomes e mostre cada um e seus respectivos numeros

In [6]:
nome = []
nome=[
    "Samuel",
    "Lucas",
    "Junior",
    "Ana clara",
    "Maria Fernanda"]
nome.sort()
x=0
while(x<=4):
    print(x,nome[x])
    x += 1

0 Samuel
1 Lucas
2 Junior
3 Ana clara
4 Maria Fernanda

03 - Crie uma lista com 5 nomes e organize de modo alfabetico,mostrando os seus respectivos numeros:

In [7]:
nome = []
nome=[
    "Samuel",
    "Lucas",
    "Junior",
    "Ana clara",
    "Maria Fernanda"]
nome.sort()
x=0
while(x<=4):
    print(x,nome[x])
    x += 1

0 Ana clara
1 Junior
2 Lucas
3 Maria Fernanda
4 Samuel